<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}"><Button>Home</Button></a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><Button>{{ user.username }} - Logout</Button></a>
    {% else %}
        <a href="{% url 'login' %}"><Button>Login</Button></a>
        <a href="{% url 'register' %}"><Button>Register</Button></a>
    {% endif %}
</body>
</html>